.dashboard-card {
    background: #dadada;
    .img-header {
        height: 80px;
    }
    .card-name {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
    }
    .dashboard-card-footer {
        background: #fff;
    }
    .dashboard-count {
        font-size: 30px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    transition: all 0.2s;
    cursor: pointer;
}

.dashboard-card:hover {
    transform: scale(1.05);
}
