#main-nav {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    padding: 0;
    margin-bottom: 10px;
}
#main-nav .nav-link {
    color: #637078;
    font-weight: 300;
}

html,
body {
    height: 100%;
    color: #37474f;
    font-family: "Open Sans", sans-serif;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
    background: #fff;
    font-size: 90%;
    color: #637078;
    border-top: 1px solid #ededed;
}

.card {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.card-body {
    padding-top: 35px;
}

card-header {
    border-bottom: 0;
    border-top-right-radius: 2px;
    rder-top-left-radius: 2px;
}

#main-nav .icon-nav {
    font-size: 20px;
}

#main-nav .nav-item.active {
    background: #f6fefa;
    color: #05a85c;
}
#main-nav .nav-item.active .nav-link i {
    color: #05a85c;
}
#main-nav .nav-item.active .nav-link span {
    color: #05a85c;
}
#main-nav .nav-item:hover {
    background: #f6fefa;
}
