// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

// Variables
//@import "variables";

@import "vue-select/src/scss/vue-select.scss";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

$fa-font-path: "../webfonts";

$bg-color: #f1f4f5;
//$bg-color: #fbfbfb;
$body-color: #7a7a7a;

// Variable Overrides
$theme-colors: (
  "primary": #3e8ef7,
  "success": #11c26d,
  "secondary": #e4eaec,
  "danger": #ff4c52,
  "warning": #eb6709,
  "info": #0bb2d4,
  "dark": #526069
);

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

//@import "layout";

body {
  background: $bg-color;
  font-family: "Open Sans", sans-serif;
}

@import "layout";

//@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
.my-header {
  font-size: 32px;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
  display: inline-flex;
  vertical-align: middle;
}
.panel-heading > i {
  vertical-align: middle !important;
}
.center-icon {
  display: flex !important;
  justify-content: center !important;
  /* align-self: center;    <---- REMOVE */
  align-items: center !important;
}
.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

#pnc-logo {
  width: 110px;
}

.vdp-datepicker {
  width: 100%;
}

.vdp-datepicker input {
  width: 100%;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #ced4da;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ededed;
  width: 32px;
  height: 32px;
  font-weight: 700;
  color: #fff;
}

.avatar-student-outcome {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f6c23e;
  width: 38px;
  height: 38px;
  font-weight: 700;
  color: #fff;
}

.avatar-course {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: grey;
  width: 35px;
  height: 35px;
  font-weight: 300;
  font-size: 10px;
  color: #fff;
}

.btn-round {
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.search-course {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 40px;
  width: 100%;
  border: 1px solid #ededed;
  z-index: 999;
}

.bg-pnc-image {
  background: url(http://localhost/pnc_soa/public/img/login.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.learning-legend {
  width: 100px;
  height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.introduced {
  background: #d8faee;
}

.reinforced {
  background: #fcebc0;
}

.demonstrated {
  background: #fad6d2;
}

.tab-content {
  background: white;
  border: 1px solid #ededed;
  padding: 15px 20px;
}

.question {
  font-size: 1.2em;
}

.choice {
  padding: 20px;

  border: 1px solid #ededed;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.4s;
}

.correct {
  border: 1px solid #1cc88a;
  color: #1cc88a;
}
.correct-choice {
  border: 1px solid #1cc88a;
}

.choice-num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ededed;
  width: 32px;
  height: 32px;
  font-weight: 700;
  color: #5a5c69;
}

.test-num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ededed;
  width: 40px;
  height: 40px;
  font-weight: 700;
  color: #5a5c69;
}

.choice:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.13);
  transform: scale(1.01);
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "loading…";
}

.page-header {
  font-size: 25px;
  margin-bottom: 25px;
  color: #5e5e5e;
}
.table {
  color: #76838f;
}

.table-bordered {
  border: 1px solid #e4eaec;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.143rem;
  background-color: transparent;
  padding-top: 20px;
}
table {
  border-collapse: collapse;
}

.btn-success-b {
  color: #11c26d;
  background: #e6fdf2;
}

.btn-success-b:hover {
  color: #05a85c;
  background: #e6fdf2;
}

.btn-success-b:focus {
  box-shadow: 0;
}

.modal-content {
  border-radius: 5px;
}

.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border-top: 0;
}

label {
  font-weight: 600;
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "loading…";
}

/*.pagination .page-item .page-link {
    color: green;
}*/

html,
body {
  height: 100%;
  color: #37474f;
  font-family: "Open Sans", sans-serif;
}

#page-content {
  flex: 1 0 auto;
  min-height: 75vh;
}

#sticky-footer {
  flex-shrink: none;
  background: #fff;
  font-size: 90%;
  color: #637078;
  border-top: 1px solid #ededed;
}

.so_collapse {
  color: #11c26d !important;
  text-decoration: none !important;
}
.so_collapse:hover {
  text-decoration: none !important;
}

.border-left-success {
  border-left: 4px solid #11c26d;
}
.border-left-warning {
  border-left: 4px solid #eb6709;
}
.border-left-danger {
  border-left: 4px solid #ff4c52;
}

.table-borderless tr {
  border-bottom: 1px solid #efefef;
}

.login-title {
  font-weight: 300;
  color: #585858;
  font-size: 32px;
}

#btn-login {
  border-radius: 0;
  box-shadow: none;
}

#input-g-email input,
#input-g-password input {
  border-radius: 0;
  box-shadow: none;
}

#input-g-email input:focus,
#input-g-password input:focus {
  border: 1px solid #11c26d;
}

#input-g-email span,
#input-g-password span {
  border-radius: 0;
  background: #f0f0f0;
}
#input-g-email span i,
#input-g-password span i {
  color: #6b6b6b;
}
.btn-tab {
  box-shadow: 0;
  border-radius: 0;
  width: 100%;
  border-bottom: 2px solid #b5b5b5;
  background: #ededed;
}
.btn-tab-active {
  border-bottom: 2px solid #0bb2d4;
}
.btn-tab-exam {
  border-left: 0.5px solid #b5b5b5;
}
.btn-tab-question {
  border-right: 0.5px solid #b5b5b5;
}

.testbank-tab-content {
  padding: 0;
}

.test-bank-nav {
  width: 50%;
}

.test-bank-nav .nav-link {
  color: #37474f;
}

.test-bank-nav .nav-link.active i {
  color: #0bb2d4;
}

.test-bank-nav .nav-link.active {
  border-bottom: 2px solid #11c26d;
}

.test-question-body {
  font-weight: 600;
}

.test-question-body pre,
.test-question-body .badge {
  font-weight: 400;
}

.bg-success-light {
  background: #e6fdf2;
}

.bg-danger-light {
  background: #ffe5e6;
}

.card-header {
  background-color: #e6e6e6;
}

#search-input input {
  background: #f3f3f3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
  border: 0;
}

#search-input span {
  background: #f3f3f3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 0;
}

#search-input input:focus {
  box-shadow: none;
}

#search-input input,
#search-input span {
  transition: 0.4s all;
}

#search-input:hover input,
#search-input:hover span {
  background: #eae8e8;
}

.list-student-outcomes .list-group-item {
  border: 0;
  //cursor: pointer;
  transition: 0.4s all;
  background: #fafafa;
  font-weight: 600;
  color: #787878;
}

.avatar-student-outcome {
  font-weight: 600;
  font-size: 15px;
}

.list-student-outcomes .list-group-item:hover {
  //background: #f7f7f7;
  //border-left: 2px solid green;
  //transform: scale(1.01);
}

body,
.sticky-footer-wrapper {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}

.question-pallete-avatar {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-weight: 600;
  color: #e9ecef;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.question-pallete .list-group-item {
  border: 0;
}

.question-pallete .list-group-item {
  margin-bottom: 5px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
}

#exam-details .list-group-item {
  border-radius: 0;
  margin-bottom: 0px;
  border: 0;
}
#exam-details label {
  margin-bottom: 0;
}

#exam-timer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 250px;
  height: 56px;
  color: #eb6709;
  font-size: 30px;
  background: #ebebeb;
  border-top: 2px solid green;
}

/*
 *  STYLE 3
 */

.question-pallete::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.question-pallete::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.question-pallete::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}

.is-selected-choice {
  //background: #aeffd8;
  //border: 1px solid #11c26d;
}

.is-selected-choice .choice-num {
  border: 2px solid #abd2bf;
  background: #76b852;
  color: #fff;
}

.button-round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
