// Fonts
//@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");

// Variables
//@import "variables";

@import "vue-select/src/scss/vue-select.scss";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";

// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

$fa-font-path: "../webfonts";

$bg-color: #f1f4f5;
$body-color: #7a7a7a;

// Variable Overrides
$theme-colors: (
  "primary": #3e8ef7,
  "success": #11c26d,
  "secondary": #e4eaec,
  "danger": #ff4c52,
  "warning": #eb6709,
  "info": #0bb2d4,
  "dark": #526069
);

// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

//@import "layout";

body {
  background: $bg-color;
  font-family: "Open Sans", sans-serif;
}

@import "layout";

//@import "~startbootstrap-sb-admin-2/scss/sb-admin-2";
// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
.my-header {
  font-size: 32px;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
  display: inline-flex;
  vertical-align: middle;
}
.panel-heading > i {
  vertical-align: middle !important;
}
.center-icon {
  display: flex !important;
  justify-content: center !important;
  /* align-self: center;    <---- REMOVE */
  align-items: center !important;
}
.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

#pnc-logo {
  width: 110px;
}

.vdp-datepicker {
  width: 100%;
}

.vdp-datepicker input {
  width: 100%;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid #ced4da;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ededed;
  width: 32px;
  height: 32px;
  font-weight: 700;
  color: #fff;
}

.avatar-student-outcome {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f6c23e;
  width: 38px;
  height: 38px;
  font-weight: 700;
  color: #fff;
}

.avatar-course {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: grey;
  width: 35px;
  height: 35px;
  font-weight: 300;
  font-size: 10px;
  color: #fff;
}

.btn-round {
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
}

.search-course {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  top: 40px;
  width: 100%;
  border: 1px solid #ededed;
  z-index: 999;
}

.bg-pnc-image {
  background: url(http://localhost/pnc_soa/public/img/login.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.learning-legend {
  width: 100px;
  height: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.introduced {
  background: #d8faee;
}

.reinforced {
  background: #fcebc0;
}

.demonstrated {
  background: #fad6d2;
}

.tab-content {
  background: white;
  border: 1px solid #ededed;
  padding: 15px 20px;
}

.question {
  font-size: 1.2em;
}

.choice {
  padding: 20px;

  border: 1px solid #ededed;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.4s;
}

.correct {
  border: 1px solid #1cc88a;
  color: #1cc88a;
}
.correct-choice {
  border: 1px solid #1cc88a;
}

.choice-num {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ededed;
  width: 32px;
  height: 32px;
  font-weight: 700;
  color: #5a5c69;
}

.choice:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.13);
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "loading…";
}

.page-header {
  font-size: 25px;
  margin-bottom: 25px;
  color: #5e5e5e;
}
.table {
  color: #76838f;
}

.table-bordered {
  border: 1px solid #e4eaec;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.143rem;
  background-color: transparent;
  padding-top: 20px;
}
table {
  border-collapse: collapse;
}

.btn-success-b {
  color: #11c26d;
  background: #e6fdf2;
}

.btn-success-b:hover {
  color: #05a85c;
  background: #e6fdf2;
}

.btn-success-b:focus {
  box-shadow: 0;
}

.modal-content {
  border-radius: 5px;
}

.modal-header {
  border-bottom: 0;
}
.modal-footer {
  border-top: 0;
}

label {
  font-weight: 600;
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: "loading…";
}

/*.pagination .page-item .page-link {
    color: green;
}*/

html,
body {
  height: 100%;
  color: #37474f;
  font-family: "Open Sans", sans-serif;
}

#page-content {
  flex: 1 0 auto;
  min-height: 75vh;
}

#sticky-footer {
  flex-shrink: none;
  background: #fff;
  font-size: 90%;
  color: #637078;
  border-top: 1px solid #ededed;
}

.so_collapse {
  color: #11c26d !important;
  text-decoration: none !important;
}
.so_collapse:hover {
  text-decoration: none !important;
}
